<div class="top-page">
  <div class="ui raised very padded container segment">
    <form
      class="ui form"
      [class.error]="!searchForm.valid"
      [formGroup]="searchForm"
      (ngSubmit)="onSubmit(searchForm.value)"
    >
      <!-- アイテム名入力フォーム -->
      <div
        class="field"
        [class.error]="!searchForm.controls['keyword'].valid && searchForm.controls['keyword'].touched"
      >
        <label for="keyword">アイテム名</label>
        <input
          type="text"
          id="keyword"
          placeholder="Google Home"
          [formControl]="searchForm.controls['keyword']"
        >
      </div>
      <div
        *ngIf="searchForm.controls['keyword'].hasError('required') && searchForm.controls['keyword'].touched"
        class="ui error message"
      >必須項目です</div>
      <!-- /アイテム名入力フォーム -->

      <!-- カテゴリー選択フォーム -->
      <div
        class="field"
        [class.error]="!searchForm.controls['category'].valid && searchForm.controls['category'].touched"
      >
        <label for="category">カテゴリー</label>
        <select
          id="category"
          class="ui simple dropdown item"
          [formControl]="searchForm.controls['category']"
        >
          <option value="">全てのカテゴリー</option>
          <option *ngFor="let item of categories" [value]="item.label">{{ item.label }}</option>
        </select>
      </div>
      <!-- /カテゴリー選択フォーム -->

      <button class="ui button" type="submit" [disabled]="!searchForm.valid">
        <i class="search icon"></i>
        アイテム検索
      </button>
    </form>
  </div>

  <!-- アイテム検索結果 -->
  <ng-container *ngIf="searchProducts.length > 0; else about">
    <div class="search-products">
      <div class="ui container">
        <div class="ui divided items">
          <ng-container *ngFor="let item of searchProducts; index as i">
            <ng-container *ngIf="item && item.Product.productName">
              <a class="item" href="/reviews" (click)="onClickProduct($event, i)">
                <div class="image">
                  <img [attr.src]="item.Product.mediumImageUrl">
                </div>
                <div class="middle aligned content">
                  <div class="header">{{ item.Product.productName }}</div>
                  <div class="extra" *ngIf="item.Product.makerName">{{ item.Product.makerName }}</div>
                  <div class="star rating-item">
                    <div class="star-rating-front" [style.width.%]="item.Product.reviewAverage / 5 * 100">★★★★★</div>
                    <div class="star-rating-back">★★★★★</div>
                  </div>
                  <div class="meta">レビュー数：{{ item.Product.reviewCount }}</div>
                </div>
              </a>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
  <!-- /アイテム検索結果 -->
  <ng-template #about>
    <!-- about -->
    <div [class]="isSp ? 'about-module-sp' : 'about-module'">
      <div class="ui container">
        <i class="circular thumbs up outline icon"></i>
        <span class="text">OR</span>
        <i class="circular thumbs down icon"></i>
        <h2>"このアイテムの評判ってどうなんだろう…？"</h2>
        <div class="context">
          欲しいものや気になるものがある時、この疑問が頭に浮かびます。<br/>
          せっかく買うなら失敗も後悔もしたくない。<br/>
          そんな時、あなたはどうやってそのアイテムの評判を調べますか？<br/>
          検索エンジンでヒットしたサイトを読み漁る？ショッピングサイトやSNSで検索？<br/>
          でも、いろんなサイトを行き来するのはめんどくさい!!ですよね。<br/>
          このサイトでは、あなたが気になっているものの名前を入力するだけで、<br/>
          レビューや関連ツイートなどそのアイテムの<strong>"評判"</strong>を知ることができます。<br/>
          さぁ、上の検索欄にアイテム名を入力してみよう!!
        </div>
      </div>
    </div>
    <!-- /about -->
  </ng-template>
</div>
