/* レイアウト */
.ui.items.raised.segment {
  padding-left: 5em;
  padding-right: 5em;
}
.reviews-page {
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
.tab-items {
  margin-top: 40px;
  margin-bottom: 40px;
}
.product-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
}
.tab-icon {
  max-width: 20px;
  height: 20px;
}
.item-button-sp {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.description p {
  word-wrap: break-word;
}
.menu .item-sp {
  width: 33%;
  font-size: 12px;
}

/* 評価用の星 */
.star {
  position: relative;
  width: 5em;
  height: 1em;
}
.rating-average {
  margin-top: 20px;
  margin-bottom: 10px;
}
.rating-average .star {
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
}
.rating-item {
  font-size: 13px;
}
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.star-rating-back {
  color: #ccc;
}

/* ツイート */
.tweet-img {
  height: 150px;
  margin-left: 5px;
  margin-right: 5px;
}
.tweet-img-sp {
  width: 30%;
  margin-left: 5px;
  margin-right: 5px;
}
.tweet-img-div {
  text-align: center;
}
