<div class="reviews-page">
  <!-- 商品概要 -->
  <div class="ui center aligned text container">
    <div class="ui items raised segment">
      <div class="item">
        <div class="image">
          <img [attr.src]="productInfo.image" class="product-image">
        </div>
        <div class="middle aligned content">
          <div class="header">{{ productInfo.name }}</div>
          <div class="extra" *ngIf="productInfo.maker">{{ productInfo.maker }}</div>
          <div class="extra">¥{{ productInfo.minPrice }} 〜 ¥{{ productInfo.maxPrice }}</div>
          <div class="rating-average">
            <div>レビュー平均点</div>
            <div class="star">
              <div class="star-rating-front" [style.width.%]="reviewAvg / 5 * 100">★★★★★</div>
              <div class="star-rating-back">★★★★★</div>
            </div>
            <div class="sub header">{{ reviewAvg }}</div>
          </div>
          <div class="ui labeled button">
            <a class="ui orange button" [attr.href]="productInfo.url">
              <i class="shopping basket icon"></i> 商品画面へ
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /商品概要 -->

  <!-- レビュー一覧 -->
  <ng-container *ngIf="reviews.length > 0; else elseBlock">
    <div class="review-items">
      <div class="ui container">
        <div class="ui divided items">
          <ng-container *ngFor="let item of reviews">
            <ng-container *ngIf="item.review">
              <div class="item">
                <div class="content">
                  <p class="header">{{ item.title || 'No Title' }}</p>
                  <div class="meta">
                    <div class="star rating-item">
                      <div class="star-rating-front" [style.width.%]="item.point / 5 * 100">★★★★★</div>
                      <div class="star-rating-back">★★★★★</div>
                    </div>
                  </div>
                  <div class="description">
                    <p>{{ item.review }}</p>
                  </div>
                  <div class="extra">
                    {{ item.date }}
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
        <div class="ui center aligned grid">
          <div class="ui pagination menu">
            <a *ngIf="page > 1" class="icon item" href="/reviews?{{ page - 1 }}">
              <i class="left chevron icon"></i>
            </a>
            <ng-container *ngFor="let tmp of pageTotalArr">
              <a class="item" href="/reviews?{{ index + 1 }}">{{ index + 1 }}</a>
            </ng-container>
            <a *ngIf="page < pageTotal" class="icon item" href="/reviews?{{ page + 1 }}">
              <i class="right chevron icon"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <!-- /レビュー一覧 -->

  <!-- ローディング -->
  <ng-template #elseBlock>
    <div class="ui loading segment">
      <div class="full-screen"></div>
    </div>
  </ng-template>
  <!-- /ローディング -->
</div>
