<div class="reviews-page">
  <!-- 商品概要 -->
  <div class="ui center aligned text container">
    <div class="ui items raised segment">
      <div class="item">
        <div class="image">
          <img [attr.src]="productInfo.image" class="product-image">
        </div>
        <div class="middle aligned content">
          <div class="header">{{ productInfo.name }}</div>
          <div class="extra" *ngIf="productInfo.maker">{{ productInfo.maker }}</div>
          <div class="extra">¥{{ productInfo.minPrice }} 〜 ¥{{ productInfo.maxPrice }}</div>
          <div class="rating-average">
            <div>レビュー平均点</div>
            <div class="star">
              <div class="star-rating-front" [style.width.%]="reviewAvg / 5 * 100">★★★★★</div>
              <div class="star-rating-back">★★★★★</div>
            </div>
            <div class="sub header">{{ reviewAvg }}</div>
          </div>
          <a class="ui orange button" [attr.href]="productInfo.url">
            <i class="shopping basket icon"></i> 商品画面へ
          </a>
          <a class="ui blue button" href="/">
            <i class="search icon"></i> アイテム検索に戻る
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- /商品概要 -->

  <div class="ui top attached tabular menu">
    <a class="item" [class.active]="tab === 'review'" (click)="tab = 'review'">
      <i class="thumbs up outline icon"></i>レビュー
    </a>
    <a class="item" [class.active]="tab === 'tweet'" (click)="tab = 'tweet'">
      <i class="comment outline icon"></i>関連ツイート
    </a>
    <a class="item" [class.active]="tab === 'video'" (click)="tab = 'video'">
      <i class="film icon"></i>関連動画
    </a>
  </div>
  <div
    class="ui bottom attached tab segment"
    [class.active]="tab === 'review'"
    [class.loading]="tab === 'review' && reviews.length <= 0"
  >
    <!-- レビュー一覧 -->
    <ng-container>
      <div class="tab-items">
        <div class="ui container">
          <div class="ui divided items">
            <ng-container *ngFor="let item of reviews">
              <ng-container *ngIf="item.review">
                <div class="item">
                  <div class="content">
                    <!-- タイトルがない場合はNo Titleを表示(色はグレー) -->
                    <p
                      class="header"
                      [ngStyle]="!item.title && { 'color': 'rgba(0,0,0,.2)' }"
                    >{{ item.title || 'No Title' }}</p>
                    <div class="meta">
                      <div class="star rating-item">
                        <div class="star-rating-front" [style.width.%]="item.point / 5 * 100">★★★★★</div>
                        <div class="star-rating-back">★★★★★</div>
                      </div>
                    </div>
                    <div class="description">
                      <p>{{ item.review }}</p>
                    </div>
                    <div class="extra">
                      {{ item.date }}
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
          <div class="ui center aligned grid" *ngIf="pageTotal > 0">
            <div class="ui pagination menu">
              <a *ngIf="page > 1" class="icon item" href="/reviews?page={{ page - 1 }}">
                <i class="left chevron icon"></i>
              </a>
              <ng-container *ngFor="let tmp of pageTotalArr; index as i">
                <a
                  class="item"
                  [ngClass]="{'active': i + 1 == page }"
                  href="/reviews?page={{ i + 1 }}"
                >{{ i + 1 }}</a>
              </ng-container>
              <a *ngIf="page < pageTotal" class="icon item" href="/reviews?page={{ page + 1 }}">
                <i class="right chevron icon"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <!-- /レビュー一覧 -->
  </div>

  <div class="ui bottom attached tab segment" [class.active]="tab === 'tweet'">
    <!-- 関連ツイート一覧 -->
    <div class="tab-items">
      <div class="ui container">
        <div class="ui divided items">
          <div class="item" *ngFor="let tweet of tweets">
            <div class="content">
              <div class="tweet-img-div">
                <a class="header" *ngFor="let media of tweet.media">
                  <img *ngIf="media.type === 'photo'" [attr.src]="media.dataUrl" class="tweet-img">
                </a>
              </div>
              <div class="description">
                <p [innerHTML]="tweet.text"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /関連ツイート一覧 -->
  </div>

  <div class="ui bottom attached tab segment" [class.active]="tab === 'video'">
    <!-- 関連動画一覧 -->
    <div class="tab-items">
      <div class="ui container">
        <div class="ui divided items">
          <div class="item" *ngFor="let video of videos">
            <a class="ui small image" [attr.href]="'https://www.youtube.com/watch?v=' + video.videoId">
              <img [attr.src]="video.thumbnail">
            </a>
            <div class="content">
              <a class="header" [attr.href]="'https://www.youtube.com/watch?v=' + video.videoId">
                {{ video.title }}
              </a>
              <div class="extra">
                <span>視聴回数 {{ video.viewCount }}回</span>
                <span><i class="user icon"></i> {{ video.channelTitle }}</span>
                <span><i class="thumbs up icon"></i> {{ video.likeCount ? video.likeCount : 0 }}</span>
                <span><i class="thumbs down icon"></i> {{ video.dislikeCount ? video.dislikeCount : 0 }}</span>
              </div>
              <div class="description">
                <p>{{ video.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /関連動画一覧 -->
  </div>
</div>
