/* レイアウト */
.ui.items.raised.segment {
  padding-left: 5em;
  padding-right: 5em;
}
.reviews-page {
  margin-top: 40px;
}
.review-items {
  margin-top: 40px;
  margin-bottom: 40px;
}
.full-screen {
  width: 100vw;
  height: auto;
  min-height: 50vh;
}
.product-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
}

/* 評価用の星 */
.star {
  position: relative;
  width: 5em;
  height: 1em;
}
.rating-average {
  margin-top: 20px;
  margin-bottom: 10px;
}
.rating-average .star {
  font-size: 30px;
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 15px;
}
.rating-item {
  font-size: 13px;
}
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.star-rating-back {
  color: #ccc;
}
