<div class="youtuber-page">
  <!-- タイトル -->
  <div class="ui center aligned text container">
    <div class="ui items raised segment">
      <h2 class="ui header">
        <img src="/assets/img/youtuber/youtube-icon.jpeg" class="ui circular image">
        有名Youtuber 商品レビュー まとめ
      </h2>
    </div>
  </div>
  <!-- /タイトル -->
  <!-- Youtuber一覧 -->
  <div class="ui link centered cards">
    <div class="card">
      <a class="image" href="/youtuber/reviews?name=hajimesyatyo">
        <img src="/assets/img/youtuber/hajimesyatyo.jpg" alt="はじめしゃちょー アイコン">
      </a>
      <div class="content">
        <a class="header" href="/youtuber/reviews?name=hajimesyatyo">はじめしゃちょー</a>
        <div class="description">
          「自由」をモットーにしている超フリーダムなYouTuber。実験系をメインにオールジャンルでなんでもしたいことを動画にしており、体を張ったネタや、誰もしないような斬新で手の込んだ動画で、若年層より圧倒的な支持を得ている。740人だるまさんが転んだで2015年10月ギネス記録を取得。
        </div>
      </div>
    </div>
    <div class="card">
      <a class="image" href="/youtuber/reviews?name=hikakin">
        <img src="/assets/img/youtuber/hikakin.jpg" alt="ヒカキン アイコン">
      </a>
      <div class="content">
        <a class="header" href="/youtuber/reviews?name=hikakin">ヒカキン</a>
        <div class="description">
          国内チャンネル総登録者数No.1、名実ともに日本トップのYouTuber。新潟県出身。高校生の頃にYouTubeを始め、スーパーマリオのゲーム音楽をビートボックスで表現した「Super Mario Beatbox」の動画が世界中で話題となる。2013年にはエアロスミスのツアーに参加し、シンガポール、大阪公演でビートボックスによる共演を果たした。ビートボックス以外にも、日常の面白いものを独自の視点でおもしろおかしく紹介するHikakinTVチャンネルや、ゲーム実況ジャンルで日本最大級のチャンネルとなっている。
        </div>
      </div>
    </div>
  </div>
  <!-- /Youtuber一覧 -->
</div>
